$white: white;
$black: black;
$red: red;

$orange-cero: rgb(250, 219, 204);
$orange-uno: rgb(252, 145, 95);
$orange-dos: rgba(253,97,26, 1);
$orange-tres: #fd611a;
$orange-cuatro: orangered;


$color-primario: $orange-dos;
$color-secundario: $orange-uno;
$color-terciario: $orange-tres;

$primary-font: 'Electrolize', sans-serif;

